<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MyEcommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Management</display-name>
    <servlet-name>Management</servlet-name>
    <servlet-class>Controllers.Management</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Management</servlet-name>
    <url-pattern>/Management</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Statisque_Controller</display-name>
    <servlet-name>Statisque_Controller</servlet-name>
    <servlet-class>Controller.Statisque_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Statisque_Controller</servlet-name>
    <url-pattern>/Statisque_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Commandes</display-name>
    <servlet-name>Commandes</servlet-name>
    <servlet-class>Controllers.Commandes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Commandes</servlet-name>
    <url-pattern>/Commandes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CmdController</display-name>
    <servlet-name>CmdController</servlet-name>
    <servlet-class>Controllers.CmdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CmdController</servlet-name>
    <url-pattern>/CmdController</url-pattern>
  </servlet-mapping>
</web-app>